
#input{
  height: 40px;
  width: 600px;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
}

 #search-button{
  height: 45px;
  width: 200px;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}

.books{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
